.container {
  width: 30%;
  min-height: 100vh;
}

@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}

.containerFrame {
  position: fixed;
  padding-top: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.asideObject {
  width: 65%;
  font-weight: 600;
  font-size: 1.3rem;
  color: #7c7c7c;
  padding: 1.4rem 2rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 7px 7px 7px hsl(0deg 0% 68% / 60%), -7px -7px 7px #fff;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1300px) {
  .asideObject {
    width: 80%;
  }
}
