.container {
  margin: 3rem auto 0rem auto;
}

.backToHome {
  margin: 3rem 0 0;
}

.mainFrame {
  display: flex;
}

.main {
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .container {
    margin: 0rem auto 0rem;
  }
}

.objectFixed {
  position: fixed;
  background-color: blueviolet;
}
