.container {
  width: 12%;
  min-height: 100vh;
}

.containerFrame {
  width: 9%;
  padding-top: 1.5rem;
  text-align: center;
  position: fixed;
  margin: 0 auto;
}

.navObject {
  padding: 1rem;
  color: #7c7c7c;
  border-radius: 50%;
  border: none;
  box-shadow: 7px 7px 7px hsl(0deg 0% 68% / 60%), -7px -7px 7px #fff;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.navObject:hover {
  transform: translate3d(0, 3px, 0);
  color: #444444;
  box-shadow: inset 7px 7px 10px rgb(170 170 170 / 48%),
    inset -7px -7px 10px #ffffff;
  background: rgb(231, 231, 231);
}

@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
