.container {
  width: 12%;
  min-height: 100vh;
}

.containerFrame {
  width: 9%;
  padding-top: 1.5rem;
  text-align: center;
  position: fixed;
  margin: 0 auto;
}

.navObject {
  padding: 1rem;
  color: #7c7c7c;
  border-radius: 50%;
  border: none;
  box-shadow: 9px 9px 16px rgba(173, 173, 173, 0.6), -9px -9px 16px #ffffff;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
  .container {
    display: none;
  }
}
