.mainBox {
  margin: 1.5rem 0rem 1.5rem 0rem;
  border-radius: 0.5rem;
  box-shadow: inset 7px 7px 5px rgba(170, 170, 170, 0.48),
    inset -7px -7px 5px #ffffff;
  color: rgb(117, 117, 117);
}

@media screen and (max-width: 1000px) {
  .mainBox {
    margin: 0.8rem auto;
    width: 95%;
  }
}

@media screen and (min-width: 600px) {
  .mainBox {
    margin: 1.5rem auto;
  }
}

.profileUpper {
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: 0 auto;
  padding-top: 6rem;
}

@media screen and (max-width: 1200px) {
  .profileUpper {
    display: block;
    padding-top: 4rem;
  }
  .profileFrame {
    padding: 3rem 0 2rem 0;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .profileFrame {
    width: 98%;
  }
}

.borderCircle {
  height: 170px;
  width: 300px;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 7px 7px 7px hsl(0deg 0% 68% / 60%), -7px -7px 7px #fff;
}

.borderCircleIn {
  border-radius: 0.5rem;
}

.profileFrame {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profileFrame > p {
  margin: 1px;
  color: rgb(129, 129, 129);
  font-size: 0.9rem;
}

.informationTitle {
  color: rgb(129, 129, 129);
  text-align: center;
  padding: 3.5rem 0 2rem 0;
}

@media screen and (max-width: 800px) {
  .profileFrame > p {
    margin: 0px;
    font-size: 0.8rem;
  }
  .informationTitle {
    padding: 0rem 0 0rem 0;
  }
}

.moreInformation {
  color: rgb(148, 148, 148);
  font-weight: 600;
  min-height: 100px;
  width: 80%;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: inset 7px 7px 5px rgba(170, 170, 170, 0.48),
    inset -7px -7px 5px #ffffff;
  margin-bottom: 2rem;
}

.informationFrame {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}

.ohr {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #d1d1d1;
  border-radius: 5rem;
  border: 0; /*デフォルトデザインでは線がある場合があるので、消しておく。*/
}

@media screen and (max-width: 700px) {
  .informationFrame > div > p {
    font-size: 0.8rem;
  }
}

.topUp {
  padding: 9rem 0 6rem 10%;
}

.topUp > h2 {
  font-size: 2.4rem;
  margin: 0;
}

.subtitle1 {
  font-size: 2.4rem;
  margin: 0;
  animation: subtitle1 0.8s linear;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}

@keyframes subtitle1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.subtitle2 {
  font-size: 2.4rem;
  margin: 0;
  animation: subtitle2 0.8s linear;
  animation-fill-mode: both;
  animation-delay: 0.8s;
}

@keyframes subtitle2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.topUp > h1 {
  font-size: 5rem;
  margin: 0;
  padding: 1rem 0 1rem 0;
  animation: fadeIn 1.7s linear;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mainBox > .top {
  padding: 0rem 0 6em 10%;
}

.mainBox > .top > p {
  margin: 0;
  font-weight: 700;
}

.top2 > p {
  margin: 0;
  font-weight: 700;
  color: rgb(117, 117, 117);
  margin-left: 10%;
}

.discription1 {
  animation: fadeIn2 1s linear;
  animation-fill-mode: both;
  animation-delay: 2.7s;
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discription2 {
  animation: fadeIn3 1s linear;
  animation-fill-mode: both;
  animation-delay: 2.9s;
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discription3 {
  animation: fadeIn4 1s linear;
  animation-fill-mode: both;
  animation-delay: 3.1s;
}
@keyframes fadeIn4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.discription4 {
  animation: fadeIn5 1s linear;
  animation-fill-mode: both;
  animation-delay: 3.3s;
}
@keyframes fadeIn5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sircleObjects {
  height: 3.5rem;
  width: 3.5rem;
  padding: 1rem;
  color: #7c7c7c;
  border-radius: 50%;
  border: none;
  box-shadow: 7px 7px 7px hsl(0deg 0% 68% / 60%), -7px -7px 7px #fff;
  margin-bottom: 2rem;
  margin: 2rem 1.5rem 1rem auto;
}

@media screen and (max-width: 1000px) {
  .topUp {
    padding: 6rem 0 7rem 10%;
  }
  .top {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .top2 {
    display: none;
  }
  .sircleObjects {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .topUp > h1 {
    font-size: 3.2rem;
  }
  .topUp > h2 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .topUp > h1 {
    font-size: 2.3rem;
  }
  .topUp > h2 {
    font-size: 1.3rem;
  }
  .topUp {
    padding: 6rem 0 5rem 10%;
  }
  .top2 > p {
    font-weight: 500;
    margin: 0 10% 0 10%;
    font-size: 1rem;
  }
}
/* ------------ */
.moduleSpacer {
  height: 32px;
}
