.mainBox {
  margin: 1.5rem 0rem 1.5rem 0rem;
  border-radius: 0.5rem;
  box-shadow: inset 7px 7px 5px rgba(170, 170, 170, 0.48),
    inset -7px -7px 5px #ffffff;
}

@media screen and (max-width: 1000px) {
  .mainBox {
    margin: 0.8rem auto;
    width: 95%;
  }
}

@media screen and (min-width: 600px) {
  .mainBox {
    margin: 1.5rem auto;
  }
}

.profileUpper {
  font-weight: 600;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 85%;
  margin: 0 auto;
  padding-top: 6rem;
}

@media screen and (max-width: 1200px) {
  .profileUpper {
    display: block;
    padding-top: 4rem;
  }
  .profileFrame {
    padding: 3rem 0 2rem 0;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .profileFrame {
    width: 95%;
  }
}

.borderCircle {
  height: 170px;
  width: 280px;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 9px 9px 16px rgb(173 173 173 / 60%), -9px -9px 16px #ffffff;
}

.borderCircleIn {
  border-radius: 0.5rem;
}

.profileFrame {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profileFrame > p {
  margin: 1px;
  color: rgb(129, 129, 129);
  font-size: 0.9rem;
}

.informationTitle {
  color: rgb(129, 129, 129);
  text-align: center;
  padding: 3.5rem 0 2rem 0;
}

@media screen and (max-width: 800px) {
  .profileFrame > p {
    margin: 0px;
    font-size: 0.8rem;
  }
  .informationTitle {
    padding: 0rem 0 0rem 0;
  }
}

.moreInformation {
  color: rgb(148, 148, 148);
  font-weight: 600;
  min-height: 100px;
  width: 80%;
  margin: 0 auto;
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  box-shadow: inset 7px 7px 5px rgba(170, 170, 170, 0.48),
    inset -7px -7px 5px #ffffff;
  margin-bottom: 2rem;
}

.informationFrame {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
}

.ohr {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #d1d1d1;
  border-radius: 5rem;
  border: 0; /*デフォルトデザインでは線がある場合があるので、消しておく。*/
}
